.create-task-container {
    width: 62.5rem;
}

.create-task-close {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 50%;
}

.create-task-close:hover {
    background-color: #696CFF;
    color: white !important;
}

.create-task-input {
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #696CFF;
}

.create-task-dateInput {
    background-color: white;
}

.create-task-multi {
    min-height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #696CFF;
}

.create-task-text {
    height: 10rem;
    border-radius: 10px;
    border: 1px solid #696CFF;
}

.create-task-date {
    height: 2.5rem;
    width: 100%;
    border: 1px solid #696CFF;
    border-radius: 10px;
}

.create-task-amount-icon {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
}

.create-task-btn {
    border: 1px solid #696CFF;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #E7E7FF;
    transition: all .2s;
}

.create-task-btn:hover {
    background-color: #696CFF;
    color: white !important;
}

.create-task-loader {
    width: 30px;
    height: 30px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}