.create-employee-container {
    width: 62.5rem;
}

.create-employee-close {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 50%;
}

.create-employee-close:hover {
    background-color: #696CFF;
    color: white !important;
}

.create-employee-input {
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #696CFF;
    background-color: white;
}

.create-employee-date {
    height: 2.5rem;
    width: 100%;
    border: 1px solid #696CFF;
    border-radius: 10px;
    background-color: white;
}

.create-employee-btn {
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #696CFF;
    background-color: #E7E7FF;
    transition: all .2s;
}

.create-employee-btn:hover {
    color: white !important;
    background-color: #696CFF;
}

.create-employee-loader {
    width: 30px;
    height: 30px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}