.list-employee-container {
    width: 18rem;
}

.list-employee-input {
    height: 2.5rem;
    width: 90%;
    padding-left: 3rem;
    border-radius: 10px;
    border: 1px solid #01008A;
}

.list-employee-btn {
    position: absolute;
    top: 0;
    right: 10%;
    height: 2.5rem;
    width: 6rem;
    border-radius: 10px;
    background-color: #E8E8FF;
    border: 1px solid #01008A;
    color: #01008A;
}

.list-employee-create-btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #01008A;
    background-color: #E8E8FF;
    color: #01008A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.list-employee-search-icon {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #01008A;
}

.table-employee-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.table-employee-modify-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.table-employee-delete-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    color: red;
}

@media only screen and (min-width: 768px) {
    .list-employee-container {
        width: 40rem;
    }
}

@media only screen and (min-width: 1024px) {
    .list-employee-container {
        width: 50rem;
    }
}

@media only screen and (min-width: 1440px) {
    .list-employee-container {
        width: 90rem;
    }

    .list-employee-input {
        width: 95%;
    }
    
    .list-employee-btn {
        right: 5%;
    }
}