.list-employee-container {
    width: 18rem;
}

.table-employee-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.table-employee-modify-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.table-employee-delete-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: red;
}

.myToast-employee-style {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #696CFF !important;
    background-color: white !important;
}

.myToast-employee-btn-delete {
    width: 100%;
    height: 2rem;
    border: 1px solid #A7A5A7;
    border-radius: 10px;
    transition: all .2s;
}

.myToast-employee-btn-delete:hover {
    background-color: #A7A5A7;
    color: white !important;
}

.myToast-employee-btn-cancel {
    width: 100%;
    height: 2rem;
    background-color: #E7E7FF;
    border-radius: 10px;
    border: 1px solid #696CFF;
    transition: all .2s;
}

.myToast-employee-btn-cancel:hover {
    background-color: #696CFF;
    color: white !important;
}

.single-employee-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid;
    border-color: #696CFF #696CFF transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.single-employee-loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #696CFF #696CFF;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.delete-employee-loader {
    width: 30px;
    height: 30px;
    border: 5px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.mobile-employee-loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 43%;
    border: 3px solid;
    border-color: #696CFF #696CFF transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.mobile-employee-loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #696CFF #696CFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 768px) {
    .list-employee-container {
        width: 40rem;
    }
}

@media only screen and (min-width: 1024px) {
    .list-employee-container {
        width: 50rem;
    }

    .myToast-employee-style {
        left: 60%;
    }
}

@media only screen and (min-width: 1440px) {
    .list-employee-container {
        width: 90rem;
    }

    .myToast-employee-style {
        left: 58%;
    }
}