.header-container {
    height: 100dvh;
    background-color: #F5F5F9;
    box-shadow: 1px 0px 11px #696CFF;
}

.login-logo {

}

.login-logo-container h1 {
    font-size: 60px;
    color: white;
}

.login-container {
    height: 100dvh;
}

.login-response {
    height: 1.75rem;
    color: red;
    text-align: center;
    margin: 1rem 0 0 0;
}

@media only screen and (min-width: 768px) {
    .login-response {
        margin: 0;
    }

    .login-logo-container h1 {
        font-size: 80px;
    }
}