.header-container {
    background-image: url(../../assets/login-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100dvh;
}

.login-logo-container{
    height: 22rem;
}

.login-container {
    height: 100dvh;
}

.login-response {
    height: 1.75rem;
    color: red;
    text-align: center;
    margin: 1rem 0 0 0;
}

@media only screen and (min-width: 768px) {
    .login-response {
        margin: 0;
    }
}