.modify-customer-container {
    width: 62.5rem;
    position: relative;
}

.modify-customer-title {
    color: #01008A;
}

.modify-customer-close {
    width: 3rem;
    height: 3rem;
    color: #01008A;
    cursor: pointer;
    border-radius: 50%;
}

.modify-customer-close:hover {
    background-color: #01008A;
    color: white;
}

.modify-customer-file {
    display: none;
}

.modify-customer-label {
    position: absolute;
    top: 75%;
    right: 5%;
    cursor: pointer;
    transition: all 0.2s;
}

.modify-customer-label:hover {
    scale: 1.1;
}

.modify-customer-image-input {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid #01008A;
    color: #01008A;
    background-color: white;
}

.modify-customer-input {
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #01008A;
}

.modify-customer-date {
    height: 2.5rem;
    width: 100%;
    border: 1px solid #01008A;
    border-radius: 10px;
}

.modify-customer-btn {
    border: none;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #01008A;
    color: white;
}

.modify-customer-response {
    color: green;
    text-align: center;
}

.modify-customer-img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border: 2px solid #01008A;
    border-radius: 50%;
    padding: 4px;
}

.modify-customer-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.modify-customer-loader {
    width: 30px;
    height: 30px;
    border: 5px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.waiting-customer-loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 400%;
    left: 47%;
    border: 3px solid;
    border-color: #01008A #01008A transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.waiting-customer-loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #FF3D00 #FF3D00;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.customer-logo-loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.customer-logo-loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #01008A;
}

.customer-logo-loader:before,
.customer-logo-loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.customer-logo-loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}