.pageNotFound-smile {
    width: 10rem;
    height: 10rem;
    color: #595C5F;
    fill: #595C5F;
}

.pageNotFound-link{
    margin: 0 .2rem;
    text-decoration: underline;
    color: #696CFF;
    cursor: pointer;
}