.priority-icon {
    margin: 0;
    padding: .1rem .2rem;
    border-radius: 5px;
    color: black;
}

.priority-icon-green {
    background-color: greenyellow;
}

.priority-icon-yellow {
    background-color: rgb(247, 247, 6);
}

.priority-icon-orange {
    background-color: orange;
}