.status-icon {
    margin: 0;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline: none;
}

.status-icon option {
    color: black;
}

.status-icon-red {
    color: red;
}

.status-icon-yellow {
    color: rgb(230, 230, 11);
}

.status-icon-green {
    color: rgb(141, 233, 3);
}