.css-13cymwt-control {
    border-style: none !important;
    border-radius: 10px !important;
}

.css-16xfy0z-control {
    background-color: rgba(239, 239, 239, 0.3) !important;
    border-color: transparent !important;
}

.css-olqui2-singleValue {
    color: rgb(84, 84, 84) !important;
}