.welcome-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    color: #696CFF;
    background-color: white;
}

.welcome-text {
    padding: 1rem;
}

.welcome-hello {
    width: 12rem;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .welcome-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .welcome-hello {
        margin: 0;
    }
}
