.dropdown-arrow {
    position: absolute;
    top: -18px;
    left: 71%;
    transform: translateX(-50%) rotate(45deg);
    width: 2rem;
    height: 2rem;
    background-color: #E8E8FF;
    border-top: 3px solid #01008A;
    border-left: 3px solid #01008A;
}

.dropdown-image-container {
    width: 8.7rem;
    height: 8.7rem;
    position: relative;
    border: 2px solid #01008A;
    border-radius: 50%;
    padding: 4px;
}

.dropdown-loader-container {
    position: relative;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    background-color: white;
    border: 2px solid #01008A;
    border-radius: 50%;
}

.dropdown-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-change-image {
    display: none;
}

.dropdown-image-label {
    position: absolute;
    top: 75%;
    right: 5%;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown-image-label:hover {
    scale: 1.1;
}

.dropdown-image-input {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid #01008A;
    color: #01008A;
    background-color: white;
}

.dropdown-image-error {
    display: flex;
    position: absolute;
    top: 28%;
    right: -2%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: red;
}

.dropdown-profile-data {
    width: 18rem;
    border-bottom: 2px solid #01008A;
    margin-bottom: 2rem;
}

.dropdown-profile-data label {
    color: #01008A;
    font-size: .8rem;
}

.dropdown-profile-data p {
    font-size: 1.3rem;
    margin: 0;
    color: #01008A;
}

.dropdown-profile-password {
    color: #01008A;
    text-decoration: underline;
    margin: 0;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown-profile-password:hover {
    scale: 1.1;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #01008A;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

@media only screen and (min-width: 1440px) {
    .dropdown-arrow {
        top: -18px;
        left: 73%;
    }
}

@media only screen and (min-width: 1450px) {
    .dropdown-arrow {
        top: -18px;
        left: 62%;
    }
}