:root {
    --blue: #89B5DA;
    --white: #FEFDF8;
    --dark-blue: #1A6EB4;
    --grey: #E7E6E2;
    --light-blue: #A1C5DE;
    --light-grey: #DFE6F1;
}

.customerCard-wrapper {
    min-width: 15rem !important;
    width: 15rem !important;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 6px 6px 8px #00008a6c,
        -6px -6px 8px #ffffff;
    transition: all .2s;
    cursor: pointer;

    .customerCard-note {
        width: 100%;
        height: 100%;
        background-color: #FEFDF8;
        border: 0.6rem solid var(--dark-blue);
        position: absolute;
        z-index: 1;

        .customerCard-spiral-part {
            height: 3rem;
            background-color: var(--light-blue);
            display: flex;
            justify-content: center;
            align-items: center;

            .customerCard-spiral {
                .customerCard-hole {
                    width: 0.9rem;
                    height: 0.9rem;
                    border-radius: 50%;
                    background-color: var(--dark-blue);
                    margin: 0 0.6rem;
                }

                .customerCard-wire {
                    width: 0.3rem;
                    height: 2.5rem;
                    background-color: var(--light-grey);
                    margin-top: -48px;
                    margin-left: 15px;
                    border-radius: 2px;
                }
            }
        }

        .customerCard-note-lines {
            padding: .5rem .5rem 0 .5rem;

            .customerCard-line {
                height: 2rem;
                border-bottom: 0.2rem solid var(--grey);
            }
        }
    }
}

.customerCard-dummy-icon {
    height: 24px;
}

.customerCard-modify-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.customerCard-delete-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: red;
}

.customerCard-img-container {
    padding: 2px;
    border-radius: 50%;
    border: 2px solid #01008A;
    background-color: white;
}

.customerCard-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.customerCard-data {
    font-size: 14px;
}

@media only screen and (min-width: 1024px) {
    .customerCard-wrapper:hover {
        scale: 1.03;
        cursor: pointer;
    }
}