.sidebar {
    margin-top: 4rem;
    height: calc(100dvh - 80px);
}

.sidebar-link-container {
    width: 9rem;
    padding: .4rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
}

.sidebar-icons {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
}

@media only screen and (min-width: 1024px) {
    .sidebar {
        margin: 0;
    }

    .sidebar-icons {
        color: #384551;
    }

    .sidebar-link-container {
        color: #384551;
        border: none;
        background-color: white;
    }

    .sidebar-link-container:hover {
        background-color: #E7E7FF;
        color: #696CFF;
    }

    .sidebar-link-container-active {
        background-color: #E7E7FF;
        color: #696CFF;
    }

    .sidebar-link-container:hover .sidebar-icons,
    .sidebar-link-container-active .sidebar-icons {
        color: #696CFF;
    }
}