.slider-container {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    position: relative;
}

.slider-items {
    display: flex;
    gap: 1rem;
    flex: none;
}