.searchbarAdmin-input {
    height: 2.5rem;
    width: 100%;
    padding-left: 3rem;
    border-radius: 10px;
    border: 1px solid #01008A;
}

.searchbarAdmin-btn {
    height: 2.5rem;
    width: 100%;
    border-radius: 10px;
    background-color: #E8E8FF;
    border: 1px solid #01008A;
    color: #01008A;
    transition: all 0.5s ease;
}

.searchbarAdmin-create-btn {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #01008A;
    background-color: #E8E8FF;
    color: #01008A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.searchbarAdmin-btn:hover,
.searchbarAdmin-create-btn:hover {
    color: white;
    background-color: #01008A;
}

.searchbarAdmin-search-icon {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #01008A;
}

.searchbarAdmin-create-mobile-btn {
    position: absolute;
    top: -2.5rem;
    right: -4%;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #01008A;
}

@media only screen and (min-width: 375px) {
    .searchbarAdmin-create-mobile-btn {
        right: -10%;
    }
}

@media only screen and (min-width: 425px) {
    .searchbarAdmin-create-mobile-btn {
        right: -15%;
    }
}

@media only screen and (min-width: 768px) {
    .searchbarAdmin-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 6rem;
    }

    .searchbarAdmin-create-mobile-btn {
        right: -8%;
    }
}

@media only screen and (min-width: 1024px) {
    .searchbarAdmin-input {
        width: 90%;
    }

    .searchbarAdmin-btn {
        right: 10%;
    }
}

@media only screen and (min-width: 1440px) {
    .searchbarAdmin-input {
        width: 95%;
    }

    .searchbarAdmin-btn {
        right: 5%;
    }
}
