.passwordAlert-container {
    margin-top: auto;
    width: 10rem;
    border-radius: 10px;
    padding: .5rem;
    background-color: #F5F5F9;
    box-shadow: 0px 0px 10px 5px #697d9138;
}

.passwordAlert-img {
    width: 100%;
}

.passwordAlert-btn {
    height: 2.5rem;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #696CFF;
    background-color: #E7E7FF;
    transition: all .2s;
}

.passwordAlert-btn:hover {
    background-color: #696CFF;
    color: white !important;
}
