.sidebar-mobile {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px !important;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.849);
    transition: all 0.3s;
}

.sidebar-mobile-show {
    z-index: 1000;
    transform: translateX(200px);
}

.main-container {
    height: calc(100dvh - 64px);
    overflow-y: auto;
    background-color: #F5F5F9;
    box-shadow: -1px 0px 3px #696CFF;
}

@media only screen and (min-width: 1024px) {
    .main-container {
        height: calc(100dvh - 60.78px);
        border-top-left-radius: 10px;
    }
}