:root {
    --blue: #89B5DA;
    --white: #FEFDF8;
    --dark-blue: #1A6EB4;
    --grey: #E7E6E2;
    --light-blue: #A1C5DE;
    --light-grey: #DFE6F1;
}

.taskCard-wrapper {
    min-width: 15rem !important;
    width: 15rem !important;
    height: 30.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 6px 6px 8px #00008a6c,
        -6px -6px 8px #ffffff;
    transition: all .2s;
    cursor: pointer;

    .taskCard-note {
        width: 100%;
        height: 100%;
        background-color: #FEFDF8;
        border: 0.6rem solid var(--dark-blue);
        position: absolute;
        z-index: 1;

        .taskCard-spiral-part {
            height: 3rem;
            background-color: var(--light-blue);
            display: flex;
            justify-content: center;
            align-items: center;

            .taskCard-spiral {
                .taskCard-hole {
                    width: 0.9rem;
                    height: 0.9rem;
                    border-radius: 50%;
                    background-color: var(--dark-blue);
                    margin: 0 0.6rem;
                }

                .taskCard-wire {
                    width: 0.3rem;
                    height: 2.5rem;
                    background-color: var(--light-grey);
                    margin-top: -48px;
                    margin-left: 15px;
                    border-radius: 2px;
                }
            }
        }

        .taskCard-note-lines {
            padding: .5rem .5rem 0 .5rem;

            .taskCard-line {
                height: 2rem;
                border-bottom: 0.2rem solid var(--grey);
            }
        }
    }
}

.taskCard-dummy-icon {
    height: 24px;
}

.taskCard-modify-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.taskCard-delete-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: red;
}

.taskCard-status {
    border-radius: 5px;
    padding: .1rem .5rem;
    background-color: rgb(238, 51, 51);
}

.taskCard-created {
    font-size: 14px;
    padding-left: .1rem;
}

.taskCard-title {
    margin: 0;
}

.taskCard-amount-icon {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
}

.taskCard-amount-input {
    width: 6.5rem;
    padding-left: 1.3rem;
    border-radius: 10px;
    border: 1px solid #01008A;
    background-color: white;
}

.taskCard-amount-input::-webkit-outer-spin-button,
.taskCard-amount-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.taskcard-data-container {
    margin-bottom: .5rem;
    padding: 0 .5rem;
}

.taskCard-customer,
.taskCard-end {
    color: black;
}

.taskCard-billing-container {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    color: white;
    background-color: #01008A;
    border-radius: 10px;
    margin: .5rem .5rem;
    padding: .5rem .5rem;
}

.taskCard-billing {
    margin: 0;
    padding-bottom: .3rem;
    text-align: center;
}

.taskCard-customer-input {
    width: 6.5rem;
    border-radius: 10px;
    border: 1px solid #01008A;
    background-color: white;
    padding-left: .5rem;
}

.taskCard-employees {
    padding: .5rem .5rem;
    border-top: 1px solid #01008A;
}

.taskCard-employees img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.taskCard-avatar {
    pointer-events: none;
    user-select: none;
}

.taskCard-loader {
    width: 25px;
    height: 25px;
    margin-left: 1rem;
    border: 3px solid #01008A;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@media only screen and (min-width: 1024px) {
    .taskCard-wrapper:hover {
        scale: 1.03;
        cursor: pointer;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}