.tasksStatus-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: #696CFF;
    border-radius: 10px;
    padding: 1rem;
}

.taskStatus-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}

.tasksStatus-pending {
    color: #7f0b0b;
}

.tasksStatus-inProgress {
    color: #FFAB00;
}

.tasksStatus-done {
    color: #0b7f17;
}