.navbar-container {
    background-color: white;
}

.myNavbar-logo {
    height: 3rem;
    width: 10rem;
}

.notify-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    cursor: pointer;
    fill: none;
}

.notify-icon:hover {
    fill: currentColor;
}

.menu-icon {
    width: 2.5rem;
    height: 3rem;
    color: #696CFF;
    z-index: 2000;
}

.profile-dropdown {
    padding: 1rem;
    position: absolute !important;
    bottom: -610%;
    right: 8%;
    border-radius: 15px;
    z-index: 500;
    box-shadow: 1px 1px 5px 1px #697d9138 !important;
}

.profile-dropdown-hide {
    display: none !important;
}

.profile-dropdown-show {
    display: flex !important;
}

@media only screen and (min-width: 1024px) {
    .myNavbar-logo {
        height: 3.75rem;
    }
}