.navbar-container {
    background-color: white;
}

.notify-icon {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    cursor: pointer;
    fill: none;
}

.notify-icon:hover {
    fill: currentColor;
}

.menu-icon {
    width: 2.5rem;
    height: 3rem;
    color: #696CFF;
    z-index: 2000;
}

.profile-dropdown {
    padding: 1rem;
    position: absolute !important;
    bottom: -610%;
    right: 8%;
    border-radius: 15px;
    z-index: 500;
}

.profile-dropdown-hide {
    display: none !important;
}

.profile-dropdown-show {
    display: flex !important;
}