.searchbarUser-input {
    height: 2.5rem;
    width: 100%;
    padding-left: 3rem;
    border-radius: 10px;
    border: 1px solid #696CFF;
    box-shadow: 1px 1px 5px 1px #697d9138;
}

.searchbarUser-btn {
    height: 2.5rem;
    width: 100%;
    border-radius: 10px;
    background-color: #E7E7FF;
    border: 1px solid #696CFF;
    transition: all 0.2s ease;
    box-shadow: 1px 1px 5px 1px #697d9138;
}

.searchbarUser-search-icon {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #696CFF;
}

.searchbarUser-btn:hover,
.searchbarUser-create-btn:hover {
    color: white !important;
    background-color: #696CFF;
}

@media only screen and (min-width: 768px) {
    .searchbarUser-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 6rem;
    }
}
