.hide {
    display: none !important;
}

.change-password-background {
    display: none;
}

.change-password-container {
    width: 18rem;
    background-color: #d8d8f0;
    border: 2px solid #01008A;
    padding: 2rem 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    z-index: 20;
}

.change-password-ok-container {
    width: 18rem;
    margin-bottom: 3rem;
    z-index: 500;
}

.change-password-error-container {
    width: 18rem;
    margin-bottom: 3rem;
    z-index: 500;
}

.change-password-title {
    border-bottom: 1px solid #01008A;
    padding-bottom: 0.5rem;
}

.change-password-container input {
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #01008A;
}

.change-password-container button {
    border: none;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #01008A;
    color: white;
}

.change-password-feedback {
    margin-top: 10rem;
    padding: 1rem 3rem;
    border-radius: 15px;
    color: white;
    background-color: green;
}

.loader-password {
    width: 30px;
    height: 30px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.change-password-ok {
    color: green;
    width: 8rem;
    height: 8rem;
}

.change-password-ok-container button {
    border: none;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #01008A;
    color: white;
    width: 100%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 1024px) {
    .change-password-background {
        display: block;
        position: absolute;
        inset: 0;
        background-color: rgba(240, 234, 234, 0.918);
        z-index: 11;
    }

    .change-password-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .change-password-ok-container {
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .change-password-error-container {
        width: auto;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}